@font-face {
  font-family: "iconfont"; /* Project id 2957630 */
  src: url('iconfont.woff2?t=1637590811666') format('woff2'),
       url('iconfont.woff?t=1637590811666') format('woff'),
       url('iconfont.ttf?t=1637590811666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e656";
}

.icon-jinggao:before {
  content: "\e600";
}

.icon-danxuankuang:before {
  content: "\e69c";
}

.icon-buttonon:before {
  content: "\e613";
}

.icon-pingfen:before {
  content: "\e60f";
}

.icon-anniu:before {
  content: "\e690";
}

.icon-yansexuanze:before {
  content: "\e624";
}

.icon-fuwenbenkuang:before {
  content: "\e66f";
}

.icon-shijianxuanzeqi:before {
  content: "\e750";
}

.icon-uploadImage:before {
  content: "\e62c";
}

.icon-duoxuankuang:before {
  content: "\e62e";
}

.icon-huadongshurutiao:before {
  content: "\e646";
}

.icon-wenzi:before {
  content: "\e632";
}

.icon-keshihuapingtaiicon_shuzishuru:before {
  content: "\e6f1";
}

.icon-icon_zhagebuju:before {
  content: "\e736";
}

.icon-shurukuang:before {
  content: "\e60e";
}

.icon-xialaxuanze:before {
  content: "\e61d";
}

.icon-lianjixuanze:before {
  content: "\e6ae";
}

.icon-shuxingxuanzeqi:before {
  content: "\e77c";
}

.icon-biaoqianye:before {
  content: "\e63e";
}

.icon-chacao:before {
  content: "\e601";
}

.icon-riqixuanzekuang:before {
  content: "\e85d";
}

.icon-wenbenyu:before {
  content: "\e6c2";
}

