:root {
  --toolbar-height: 45px;
  .light-theme {
    --body-bg: #f5f5f5;
    --primary-color: #1890ff;
    --hover-primary-color: rgba(97, 178, 255, 0.27);
    --shadow-color: #ccc;
    --header-text-color: #fff;
    --bg-active-color: rgba(24, 144, 255, 0.2);
    --hover-bg-color: rgba(24, 144, 255, 0.1);
    --text-key-color: #13c2c2ff;
  }
  .dark-theme {
    --body-bg: #141313;
    --primary-color: #1890ff;
    --shadow-color: #ccc;
  }
}
